---
Checks: >-
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-redundant-void-arg,
  performance-*,
  readability-const-return-type,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-redundant-member-init
WarningsAsErrors: "*"
HeaderFilterRegex: "^src/"
